<!-- My Computer Window Content - XP Explorer style -->
<template id="template-mycomputer">
  <div class="xp-explorer-layout">
    <div class="xp-explorer-sidebar">
      <div class="xp-sidebar-section">
        <div class="xp-sidebar-title">Risorse del computer</div>
        <div class="xp-sidebar-item active" onclick="WindowManager.open('mycomputer')">
          <img data-icon="mycomputer" alt=""><span>Risorse del computer</span>
        </div>
      </div>
      <div class="xp-sidebar-section">
        <div class="xp-sidebar-title">Cartelle</div>
        <div class="xp-sidebar-item" ondblclick="WindowManager.open('documentation')">
          <img data-icon="folder-docs" alt=""><span>Documentazione</span>
        </div>
        <div class="xp-sidebar-item" ondblclick="WindowManager.open('challenges')">
          <img data-icon="folder-shield" alt=""><span>Challenge Writeups</span>
        </div>
      </div>
      <div class="xp-sidebar-section">
        <div class="xp-sidebar-title">Dettagli</div>
        <div class="xp-sidebar-detail">TiaRuskii<br>Portfolio Cybersecurity</div>
      </div>
    </div>
    <div class="xp-explorer-files">
      <div class="xp-files-header">
        <span class="xp-col-name">Nome</span>
        <span class="xp-col-type">Tipo</span>
        <span class="xp-col-size">Dimensione</span>
      </div>
      <div class="xp-file-item" ondblclick="WindowManager.open('documentation')">
        <img data-icon="folder-docs" alt=""><span class="xp-file-name">Documentazione</span>
        <span class="xp-file-type">Cartella di file</span>
        <span class="xp-file-size"></span>
      </div>
      <div class="xp-file-item" ondblclick="WindowManager.open('challenges')">
        <img data-icon="folder-shield" alt=""><span class="xp-file-name">Challenge Writeups</span>
        <span class="xp-file-type">Cartella di file</span>
        <span class="xp-file-size"></span>
      </div>
      <div class="xp-file-item" ondblclick="WindowManager.open('about')">
        <img data-icon="user-info" alt=""><span class="xp-file-name">Chi sono</span>
        <span class="xp-file-type">File</span>
        <span class="xp-file-size">1 KB</span>
      </div>
      <div class="xp-file-item" ondblclick="WindowManager.open('recyclebin')">
        <img data-icon="recyclebin" alt=""><span class="xp-file-name">Cestino</span>
        <span class="xp-file-type">Cartella di sistema</span>
        <span class="xp-file-size"></span>
      </div>
    </div>
  </div>
  <div class="xp-statusbar">
    <span>4 oggetti</span>
  </div>
</template>
